In [ ]:
'''
!DOCSTRING
This notebook intends to extract the unique locations and 
it's latitude and longitude values present in multiple CSV files.
'''

In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/Users/naren/Documents/Northeastern/Courses/IE 6600/Project 2'

In [3]:
os.listdir()

['collect',
 '.DS_Store',
 'Full Dataset',
 'Images',
 'Project2.twbx',
 'Bike-Sharing-Dataset.zip',
 'Project2.twb',
 '.~Project2__30660.twbr',
 'unique_location.csv',
 'preprocess.ipynb',
 'Project2-FINAL.twbx',
 'Project2-2.twbx',
 '.ipynb_checkpoints',
 'Bike-Sharing-Dataset',
 'collect-all-files.ipynb',
 'bike_share_data_all.csv',
 '.~Project2__2211.twbr']

In [4]:
os.chdir("./Full Dataset/CSV")

In [5]:
os.getcwd()

'/Users/naren/Documents/Northeastern/Courses/IE 6600/Project 2/Full Dataset/CSV'

In [6]:
import glob
csv_list = [f for f in glob.glob("*.csv")]

This is to get all the unique station IDs from all the CSVs.

Collect Station ID, corresponding Station Name


I am ignoring the longitude and latitude given in the CSV file as they are not unique with the station ID

Open each CSV

Take in Start Station ID and store the unique ones into a different dataframe

Take in Start Station Name and store the unique ones into a different dataframe

Take in End Station ID and store the unique ones into a different dataframe

Take in End Station Name and store the unique ones into a different dataframe

In [12]:
def extract_start(df):
    df.dropna(subset=["start_station_id"], axis=0, inplace=True)
    df.drop_duplicates("start_station_id", inplace=True)
    a = list(df["start_station_id"])
    filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

    df = df[filt]
    df["start_station_id"] = df["start_station_id"].astype("int32")
    df.drop_duplicates("start_station_id", inplace=True)

    return df

def extract_end(df):
    df.dropna(subset=["end_station_id"], axis=0, inplace=True)
    df.drop_duplicates("end_station_id", inplace=True)
    a = list(df["end_station_id"])
    filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

    df = df[filt]
    df["end_station_id"] = df["end_station_id"].astype("int32")
    df.drop_duplicates("end_station_id", inplace=True)

    return df

In [13]:
def extract_start2(df):
    df.dropna(subset=["Start station number"], axis=0, inplace=True)
    df.drop_duplicates("Start station number", inplace=True)
    a = list(df["Start station number"])
    filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

    df = df[filt]
    df["Start station number"] = df["Start station number"].astype("int32")
    df.drop_duplicates("Start station number", inplace=True)

    return df 
    

def extract_end2(df):
    df.dropna(subset=["End station number"], axis=0, inplace=True)
    df.drop_duplicates("End station number", inplace=True)
    a = list(df["End station number"])
    filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

    df = df[filt]
    df["End station number"] = df["End station number"].astype("int32")
    df.drop_duplicates("End station number", inplace=True)

    return df

In [15]:
import re

digit_pattern = re.compile("^\d+\.*\d*$")
new_start_df = pd.DataFrame()
new_end_df = pd.DataFrame()

new_start_df2 = pd.DataFrame()
new_end_df2 = pd.DataFrame()

success_list = list()
error_list = list()

for f in csv_list:
    try:
        start_df = pd.read_csv(f, usecols=["start_station_id", "start_station_name", 
                                            "start_lat", "start_lng"])
        df = extract_start(start_df)

        new_start_df = new_start_df.append(df, ignore_index=True)
        new_start_df.drop_duplicates("start_station_id", inplace=True)

        l = [start_df]
        del start_df
        del l

        end_df = pd.read_csv(f, usecols=["end_station_id", "end_station_name",
                                            "end_lat", "end_lng"])
        df = extract_end(end_df)

        new_end_df = new_end_df.append(df, ignore_index=True)
        new_end_df.drop_duplicates("end_station_id", inplace=True)

        l = [end_df]
        del end_df
        del l

        success_list.append(f)

    except Exception as E:
        print(E)
        error_list.append(f)


for f in csv_list:
    try:
        start_df = pd.read_csv(f, usecols=["Start station number", "Start station"])
        df = extract_start2(start_df)

        new_start_df2 = new_start_df2.append(df, ignore_index=True)
        new_start_df2.drop_duplicates("Start station number", inplace=True)

        l = [start_df]
        del start_df
        del l

        end_df = pd.read_csv(f, usecols=["End station number", "End station"])
        df = extract_end2(end_df)

        new_end_df2 = new_end_df2.append(df, ignore_index=True)
        new_end_df2.drop_duplicates("End station number", inplace=True)

        l = [end_df]
        del end_df
        del l

        success_list.append(f)

    except Exception as E:
        error_list.append(f)

Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/var/folders/9v/g2rjwk6x3h96wfl45zcl1f480000gn/T/ipykernel_8446/408549372.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["start_station_id"] = df["start_station_id"].astype("int32")
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/var/folders/9v/g2rjwk6x3h96wfl45zcl1f480000gn/T/ipykernel_8446/408549372.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["end_station_id"] = df["end_station_id"].astype("int32")

Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']
Usecols do not match columns, columns expected but not found: ['start_lng', 'start_lat', 'start_station_id', 'start_station_name']

In [16]:
new_end_df

                   end_station_name  end_station_id    end_lat    end_lng
0                    12th & L St NW           31251  38.903819 -77.028400
1                    18th & L St NW           31224  38.903741 -77.042452
2    Connecticut Ave & Tilden St NW           31313  38.941139 -77.061977
3                     7th & E St SW           31294  38.883450 -77.021741
4    8th & Eye St SE / Barracks Row           31608  38.879200 -76.995300
..                              ...             ...        ...        ...
666                     White House           31329  38.895676 -77.037834
667   North Village and Park Garden           32256  38.983199 -77.341823
668          Hartland Rd & Harte Pl           32255  38.878601 -77.222808
669      N Howard St & N Imboden St           31952  38.818509 -77.105564
670            Motivate Tech Office           32902   0.000000   0.000000

[671 rows x 4 columns]

In [17]:
new_start_df.rename(columns={"start_station_name": "station_name", 
                                "start_station_id": "station_id",
                                "start_lat": "lat",
                                "start_lng": "lng"}, inplace=True)
new_end_df.rename(columns={"end_station_name": "station_name", 
                                "end_station_id": "station_id",
                                "end_lat": "lat",
                                "end_lng": "lng"}, inplace=True)

In [18]:
new_start_df = new_start_df.append(new_end_df, ignore_index=True)

In [19]:
new_start_df.drop_duplicates("station_id", inplace=True)
new_start_df

                           station_name  station_id        lat        lng
0     Rhode Island & Connecticut Ave NW       31239  38.905996 -77.039802
1                        21st & I St NW       31205  38.900711 -77.046449
2        Connecticut Ave & Tilden St NW       31313  38.941139 -77.061977
3                         7th & E St SW       31294  38.883450 -77.021741
4         Potomac & Pennsylvania Ave SE       31606  38.880300 -76.986200
...                                 ...         ...        ...        ...
666              Hartland Rd & Harte Pl       32255  38.878601 -77.222808
667               Arizona & McArthur NW       31331  38.927294 -77.103662
668                4th & Florida Ave NE       31532  38.907316 -77.000698
669                Motivate Tech Office       32902        NaN        NaN
1339         N Howard St & N Imboden St       31952  38.818509 -77.105564

[671 rows x 4 columns]

In [ ]:
new_start_df.to_csv("location_unique2.csv", index=False)